.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    rgb(234, 234, 254),
    rgb(45, 45, 253)
  );
}

.family-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.buttons {
  padding: 10px;
  background-color: rgb(113, 113, 247);
  border-color: white;
  border-radius: 5px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.active-button {
  background-color: white;
  color: black;
  width: 100px;
  border-radius: 5px;
  border-color: blue;
  cursor: pointer;
}
.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.per-person {
  width: 300px;
  padding: 10px;
  background-color: rgb(213, 213, 213);
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.know-more-button {
  background-color: rgb(113, 113, 247);
  color: white;
  width: 100px;
  padding: 10px;
  border-color: white;
  border-radius: 5px;
}
